## Exploring Ebay Car Sales Data


In this guided project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website. This dataset cointains over 370,000 used cars scraped from Ebay Kleinanzeigen. The whole dataset can be downloaded from [here](https://www.kaggle.com/orgesleka/used-cars-database/data).

Below are listed the different data fields provided inside this dataset alongside a brief description:

| dateCrawled                    | name            | seller                                    | offerType           | price                               | abtest                                         | vehicleType      | yearOfRegistration                             | gearbox               | powerPS                    |
|--------------------------------|-----------------|-------------------------------------------|---------------------|-------------------------------------|------------------------------------------------|------------------|------------------------------------------------|-----------------------|----------------------------|
| When this ad was first crawled | Name of the car | Whether the seller is private or a dealer | The type of listing | The price on the ad to sell the car | Whether the listing is included in an A/B test | The vehicle Type | The year in which the car was first registered | The transmission type | The power of the car in PS |

| model              | odometer                              | monthOfRegistration                             | fuelType                       | brand                | notRepairedDamage                                 | dateCreated                                    | nrOfPictures                     | postalCode                                      | lastSeenOnline                           |
|--------------------|----------------------------------------|-------------------------------------------------|--------------------------------|----------------------|---------------------------------------------------|------------------------------------------------|----------------------------------|-------------------------------------------------|------------------------------------------|
| The car model name | How many kilometers the car has driven | The month in which the car was first registered | What type of fuel the car uses | The brand of the car | If the car has a damage which is not yet repaired | The date on which the eBay listing was created | The number of pictures in the ad | The postal code for the location of the vehicle | When the crawler saw this ad last online |

The aim of this project is to clean the data and analyze the included used car listings.

### Importing the libraries and reading the dataset

In [1]:
# Code #

import numpy as np
import pandas as pd

autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
# Code (Rendering some values from the dataset into Jupyter)#

autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
# Code (Displaying some info from the dataset) #

autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

This far, we can see there are a total of 50,000 different entries organized in 20 columns. 5 of these columns are integer 64 type and the rest of the dataframe belongs to an object dtype. We have null values for the columns: vehicleType, gearbox, model, fuelType and notRepairedDamage. The full columns show a camelcase typo instead of Python's preferred snakecase.

Looking at this, the firs move will be to convert the column names from camelcase to snakecase and reword some of the column names based on the data dictionary to be more descriptive.

### Cleaning and managing the dataset labels

In [4]:
# Code (Managing dataset labels) #

columns_dataset = np.copy(autos.columns)

import re

def camel_to_snake(name):
  name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
  return re.sub('([a-z0-9])([A-Z])', r'\1_\2', name).lower()

cleaned_columns = []

for c in columns_dataset:
    cleaned_c = camel_to_snake(c)
    cleaned_columns.append(cleaned_c)

cleaned_columns[7] = 'registration_year'
cleaned_columns[12] = 'registration_month'
cleaned_columns[15] = 'unrepaired_damage'
cleaned_columns[16] = 'ad_created'

#print(cleaned_columns)
autos.columns = cleaned_columns

In [5]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Now let's do some basic data exploration to determine what other cleaning tasks need to be done. Initially we will look for:
- Text columns where all or almost all values are the same. These can often be dropped as they don't have useful information for analysis. 
- Examples of numeric data stored as text which can be cleaned and converted.

### Exploring the data and cleaning the dataframe

In [6]:
# Code (Exploring dataframe) #

autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-23 19:38:20,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

- Columns that have mostly one value that are candidates to be dropped. The columns seller and offer_type show only 2 unique values when they should contain more different values, these are candidates to be dropped from the dataframe. 
- Columns that need more investigation. 
- Numeric data stored as text that needs to be cleaned. For this purpose, the columns price and odometer are stored as object dtype (string) and both of them can be stored as numeric types.

In [7]:
# Code (Converting data columns to numeric type) #

autos.loc[:, 'odometer'] = autos.loc[:, 'odometer'].str.replace(',', '')
autos.loc[:, 'price'] = autos.loc[:, 'price'].str.replace(',', '')
autos.loc[:, 'odometer'] = autos.loc[:, 'odometer'].str.replace('km', '').astype(int)
autos.loc[:, 'price'] = autos.loc[:, 'price'].str.replace('$', '').astype(int)
autos.rename({'odometer':'odometer_km'}, axis=1, inplace=True)

At this point, we will look for outliers inside the data in the columns odometer_km and price. For this, we will analyze the columns using minimum and maximum values and look for any values that look unrealistically high or low that we might want to remove.

In [8]:
# Code (Looking for outliers) #

print('Odometer_km Column:\n')
print(autos.loc[:, 'odometer_km'].unique().shape) # To return the number of unique values
print(autos.loc[:, 'odometer_km'].describe()) # To return mean, std, min and max values
print(autos.loc[:, 'odometer_km'].value_counts().head(10)) # To return the count of the different values
print(autos.loc[:, 'odometer_km'].value_counts().sort_index(ascending=False).head(10)) # To return the highest or lowest values with their counts
print('Price Column:\n')
print(autos.loc[:, 'price'].unique().shape) # To return the number of unique values
print(autos.loc[:, 'price'].describe()) # To return mean, std, min and max values
print(autos.loc[:, 'price'].value_counts().head(10)) # To return the count of the different values
print(autos.loc[:, 'price'].value_counts().sort_index(ascending=False).head(15)) # To return the highest or lowest values with their counts

Odometer_km Column:

(13,)
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
Name: odometer_km, dtype: int64
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
Name: odometer_km, dtype: int64
Price Column:

(2357,)
count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64
0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
Name: price, dtype: int64
99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
Name: price, dtype: int64

From the results, we can see that there is a big different between the odometer values for 150000 km and the rest of the values. Besides, there are no more higher entries, so we can infer that the values higher than 150000 are included inside this value. This scenario can undermine the whole dataset for this column if we are not careful with this. 

We can infer the same in the column price, where the value for 0 is the most common value observed. This can spoil the data if they are not excluded. The same apply for values that exceed 400000 dollars, they do not seem realistic and disturb the data.

In [9]:
# Code (Removing outliers) #

autos.loc[~autos['price'].between(50,400000), 'price'] = np.nan

In [10]:
# Code (Checking that outliers had been removed) #

print('Odometer_km Column:\n')
print(autos.loc[:, 'odometer_km'].unique().shape) # To return the number of unique values
print(autos.loc[:, 'odometer_km'].describe()) # To return mean, std, min and max values
print(autos.loc[:, 'odometer_km'].value_counts().head(10)) # To return the count of the different values
print(autos.loc[:, 'odometer_km'].value_counts().sort_index(ascending=False).head(10)) # To return the highest or lowest values with their counts
print('Price Column:\n')
print(autos.loc[:, 'price'].unique().shape) # To return the number of unique values
print(autos.loc[:, 'price'].describe()) # To return mean, std, min and max values
print(autos.loc[:, 'price'].value_counts().head(10)) # To return the count of the different values
print(autos.loc[:, 'price'].value_counts().sort_index(ascending=False).head(15)) # To return the highest or lowest values with their counts

Odometer_km Column:

(13,)
count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
Name: odometer_km, dtype: int64
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
Name: odometer_km, dtype: int64
Price Column:

(2324,)
count     48347.000000
mean       5915.456099
std        9071.625794
min          50.000000
25%        1250.000000
50%        3000.000000
75%        7499.000000
max      350000.000000
Name: price, dtype: float64
500.0     781
1500.0    734
2500.0    643
1000.0    639
1200.0    639
600.0     531
3500.0    498
800.0     498
2000.0    460
999.0     434
Name: price, dtype: int64
350000.0    1
345000.0    1
299000.0    1
295000.0    1
265000.0    1
259000.0    1
250000.0    1
220000.0    1
198000.0    1
197000.0    1
194000.0    1
190000.0    1
180000.0    1
175000.0    1
169999.0    1
Name: price, dtype: int64

Let's now move on to the date columns and understand the date range the data covers.

There are 5 columns that should represent date values. Some of these columns were created by the crawler, some came from the website itself. We can differentiate by referring to the data dictionary:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

In [11]:
print(autos.dtypes)

date_crawled           object
name                   object
seller                 object
offer_type             object
price                 float64
abtest                 object
vehicle_type           object
registration_year       int64
gearbox                object
power_ps                int64
model                  object
odometer_km             int64
registration_month      int64
fuel_type              object
brand                  object
unrepaired_damage      object
ad_created             object
nr_of_pictures          int64
postal_code             int64
last_seen              object
dtype: object

As we can see, right now, the date_crawled, last_seen, and ad_created columns are all identified as string values by pandas. Because these three columns are represented as strings, we need to convert the data into a numerical representation so we can understand it quantitatively. 

The other two columns are represented as numeric values, so we can use methods like Series.describe() to understand the distribution without any extra data processing.

Let's first understand how the values in the three string columns are formatted. These columns all represent full timestamp values, like so:

In [12]:
print(autos[['date_crawled','ad_created','last_seen']][0:5])

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

To understand the date range, we can extract just the date values, use Series.value_counts() to generate a distribution and then sort by the index.

In [13]:
# Code (Generating distribution for dates, including missing values)#

print('date_crawled Column:\n')
print(autos.loc[:, 'date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True)) # Normalize to generate the distribution and sort_index to rank by date in ascending order
print('ad_created Column:\n')
print(autos.loc[:, 'ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))
print('last_seen Column:\n')
print(autos.loc[:, 'last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))

date_crawled Column:

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64
ad_created Column:

2015-06-11    0.00002
2015-08-10    0.00002
2015-09-09    0.00002
2015-11-10    0.00002
2015-12-05    0.00002
2015-12-30    0.00002
2016-01-03    0.00002
2016-01-07    0.00002
2016-01-10    0.00004
2016-01-13    0.00002
2016-01-14    0.00002
2016-01-16    0.00002
2016-01-22    0.00002
2016-01-27    0.00006
2016-01-29    0.00002
2016-02-01    0.00002
2016-02-02    0.00004
2016-02-05    0.00004
2016-02-07    0.00002
2016-02-08    0.00002
2016-02-09    0.00004
2016-02-11    0.00002
2016-02-12    0.00006
2016-02-14    0.00004
2016-02-16    0.00002
2016-02-17    0.00002
2016-02-18    0.00004
2016-02-19    0.00006
2016-02-20    0.00004
2016-02-21    0.00006
               ...
2016-03-09    0.03324
2016-03-10    0.03186
2016-03-11    0.03278
2016-03-12    0.03662
2016-03-13    0.01692
2016-03-14    0.03522
2016-03-15    0.03374
2016-03-16    0.03000
2016-03-17    0.03120
2016-03-18    0.01372
2016-03-19    0.03384
2016-03-20    0.03786
2016-03-21    0.03772
2016-03-22    0.03280
2016-03-23    0.03218
2016-03-24    0.02908
2016-03-25    0.03188
2016-03-26    0.03256
2016-03-27    0.03090
2016-03-28    0.03496
2016-03-29    0.03414
2016-03-30    0.03344
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03508
2016-04-03    0.03892
2016-04-04    0.03688
2016-04-05    0.01184
2016-04-06    0.00326
2016-04-07    0.00128
Name: ad_created, Length: 76, dtype: float64
last_seen Column:

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

Analyzing the results, we can see that for both the columns `date_crawled` and `last_seen` the dates move between March and April 2016. However, for `ad_created` we have values from 2015 or the first months of 2016. This could indicate that these values could be outliers values, that is to say, the advertiser who sold the car did not delete the post, for example.

Now, if we observe the `registration_year`column:

In [14]:
print(autos.loc[:, 'registration_year'].describe())

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Here, we can observe that minimum values of 1000 and maximum values of 9999. As this should be the year in which the car was first registered, these values are clearly wrong. Indeed, because a car can't be first registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. Determining the earliest valid year is more difficult. Realistically, it could be somewhere in the first few decades of the 1900s.



Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and see if it's safe to remove those rows entirely, or if we need more custom logic.

In [15]:
autos.loc[~autos['registration_year'].between(1900,2016), 'registration_year'] = np.nan
print(autos.loc[:, 'registration_year'].value_counts(normalize=True)*100) # Distribution multiplied by 100 to show the result as percetages

2000.0    6.983426
2005.0    6.277588
1999.0    6.246356
2004.0    5.698759
2003.0    5.677938
2006.0    5.638378
2001.0    5.627967
2002.0    5.274007
1998.0    5.107437
2007.0    4.797202
2008.0    4.645207
2009.0    4.368285
1997.0    4.222537
2011.0    3.402182
2010.0    3.325144
1996.0    3.006579
2012.0    2.754643
2016.0    2.740068
1995.0    2.733822
2013.0    1.678188
2014.0    1.386691
1994.0    1.374198
1993.0    0.926543
2015.0    0.830765
1990.0    0.822437
1992.0    0.814108
1991.0    0.741234
1989.0    0.376863
1988.0    0.295661
1985.0    0.218622
            ...
1977.0    0.045807
1966.0    0.045807
1975.0    0.039560
1969.0    0.039560
1965.0    0.035396
1964.0    0.024985
1910.0    0.018739
1963.0    0.018739
1959.0    0.014575
1961.0    0.012493
1956.0    0.010411
1962.0    0.008328
1958.0    0.008328
1937.0    0.008328
1950.0    0.006246
1934.0    0.004164
1941.0    0.004164
1951.0    0.004164
1954.0    0.004164
1955.0    0.004164
1957.0    0.004164
1952.0    0.002082
1953.0    0.002082
1948.0    0.002082
1943.0    0.002082
1939.0    0.002082
1938.0    0.002082
1931.0    0.002082
1929.0    0.002082
1927.0    0.002082
Name: registration_year, Length: 78, dtype: float64

Observing the results, we can see that most of the cars are registered around the last 20 years (1985-2016).

When working with data on cars, it's natural to explore variations across different car brands. We can use aggregation to understand the `brand` column.

In [16]:
# Code (Using aggregation to explore the price by brand) #

brands = autos.loc[:, 'brand'].unique()
mean_price_by_brand = {}

for b in brands:
    selected_rows = autos.loc[autos.loc[:, 'brand'] == b, :]
    mean = selected_rows.loc[:, 'price'].mean()
    mean_price_by_brand[b] = mean

print('Mean price by brand sorted:\n', sorted(mean_price_by_brand.items(), key=lambda item: item[1], reverse=True))

# Second option (Aggregation in selected data) #

# brands = autos.loc[:, 'brand'].value_counts()
# selected_brands = brands[:20]

# mean_price_by_brand = {}

# for b in selected_brands:
#     selected_rows = autos.loc[autos.loc[:, 'brand'] == b, :]
#     mean = selected_rows.loc[:, 'price'].mean()
#     mean_price_by_brand[b] = mean

# print('Mean by brand sorted:\n', sorted(mean_price_by_brand.items(), key=lambda item: item[1], reverse=True))

Mean price by brand sorted:
 [('porsche', 46433.0), ('land_rover', 18934.272727272728), ('sonstige_autos', 12439.645652173913), ('jeep', 11573.638888888889), ('jaguar', 11525.554054054053), ('mini', 10566.824940047962), ('audi', 9252.86), ('mercedes_benz', 8571.013598100582), ('bmw', 8305.433473122379), ('chevrolet', 6644.226277372263), ('skoda', 6378.056628056628), ('dacia', 5897.736434108527), ('kia', 5889.298550724638), ('hyundai', 5382.935684647303), ('volkswagen', 5354.7044593413), ('toyota', 5148.0032733224225), ('volvo', 4911.680459770115), ('nissan', 4675.6945945945945), ('seat', 4339.289617486339), ('suzuki', 4152.322807017544), ('subaru', 4068.3861386138615), ('mazda', 4059.059539918809), ('alfa_romeo', 4054.471875), ('honda', 4010.4728682170544), ('citroen', 3772.8918128654973), ('ford', 3740.5440522100266), ('smart', 3533.2966714905933), ('chrysler', 3519.3846153846152), ('mitsubishi', 3406.286075949367), ('lancia', 3240.703703703704), ('saab', 3183.493670886076), ('peugeot', 3074.2082748948105), ('opel', 2964.7975577179927), ('fiat', 2798.3031746031747), ('lada', 2647.7241379310344), ('renault', 2439.5865343116097), ('trabant', 1796.7164179104477), ('daihatsu', 1628.4262295081967), ('rover', 1586.4923076923078), ('daewoo', 1093.6)]

As per the results obtained, we can see an enormous differentiation between the mean price for certain _premium_ brands and the rest, with Porsche at the head of the pair price-brand.

For all the brands, let's use aggregation to understand the average mileage for those cars and if there's any visible link with mean price. To do this, we will create a new dataframe with just the values that we want to compare.

In [17]:
# Code (Using aggregation to explore the mileage by brand) #

mean_mileage_by_brand = {}

for b in brands:
    selected_rows = autos.loc[autos.loc[:, 'brand'] == b, :]
    mean = selected_rows.loc[:, 'odometer_km'].mean()
    mean_mileage_by_brand[b] = mean

print('Average mileage by brand sorted:\n', sorted(mean_mileage_by_brand.items(), key=lambda item: item[1], reverse=True))

Average mileage by brand sorted:
 [('saab', 143750.0), ('volvo', 138632.3851203501), ('rover', 136449.27536231885), ('chrysler', 133149.17127071825), ('bmw', 132521.64302818198), ('alfa_romeo', 131109.4224924012), ('mercedes_benz', 130886.14279678918), ('audi', 129643.9411627364), ('opel', 129298.66324848929), ('volkswagen', 128955.27276129878), ('renault', 128223.79367720465), ('peugeot', 127352.33516483517), ('jeep', 126409.09090909091), ('mitsubishi', 126293.10344827586), ('mazda', 125132.10039630119), ('subaru', 124449.54128440368), ('ford', 124131.93446392642), ('honda', 123709.27318295739), ('lancia', 123157.8947368421), ('seat', 122061.63655685441), ('daewoo', 121708.86075949368), ('jaguar', 121298.7012987013), ('citroen', 119764.62196861627), ('nissan', 118978.7798408488), ('land_rover', 118333.33333333333), ('fiat', 117037.4617737003), ('toyota', 115988.65478119935), ('daihatsu', 114843.75), ('kia', 112640.44943820225), ('skoda', 110947.83715012722), ('suzuki', 109334.47098976109), ('hyundai', 106782.7868852459), ('smart', 100756.06276747503), ('chevrolet', 99522.96819787986), ('porsche', 97363.94557823129), ('mini', 89375.0), ('sonstige_autos', 87188.6446886447), ('lada', 86774.19354838709), ('dacia', 84728.68217054264), ('trabant', 59358.97435897436)]

In [18]:
# Code (Creating a dataframe from our dictionaries data) #

mpb_series = pd.Series(mean_price_by_brand)
mmb_series = pd.Series(mean_mileage_by_brand)
df = pd.DataFrame(mpb_series, columns=['mean_price'])
df.loc[:, 'avg_mileage_km'] = mmb_series
print(df)

                  mean_price  avg_mileage_km
alfa_romeo       4054.471875   131109.422492
audi             9252.860000   129643.941163
bmw              8305.433473   132521.643028
chevrolet        6644.226277    99522.968198
chrysler         3519.384615   133149.171271
citroen          3772.891813   119764.621969
dacia            5897.736434    84728.682171
daewoo           1093.600000   121708.860759
daihatsu         1628.426230   114843.750000
fiat             2798.303175   117037.461774
ford             3740.544052   124131.934464
honda            4010.472868   123709.273183
hyundai          5382.935685   106782.786885
jaguar          11525.554054   121298.701299
jeep            11573.638889   126409.090909
kia              5889.298551   112640.449438
lada             2647.724138    86774.193548
lancia           3240.703704   123157.894737
land_rover      18934.272727   118333.333333
mazda            4059.059540   125132.100396
mercedes_benz    8571.013598   130886.142797
mini            10566.824940    89375.000000
mitsubishi       3406.286076   126293.103448
nissan           4675.694595   118978.779841
opel             2964.797558   129298.663248
peugeot          3074.208275   127352.335165
porsche         46433.000000    97363.945578
renault          2439.586534   128223.793677
rover            1586.492308   136449.275362
saab             3183.493671   143750.000000
seat             4339.289617   122061.636557
skoda            6378.056628   110947.837150
smart            3533.296671   100756.062767
sonstige_autos  12439.645652    87188.644689
subaru           4068.386139   124449.541284
suzuki           4152.322807   109334.470990
toyota           5148.003273   115988.654781
trabant          1796.716418    59358.974359
volkswagen       5354.704459   128955.272761
volvo            4911.680460   138632.385120

There are no significant differences between the average mileage for the brands. This could be impacted by the fact that the values for 150000+ km are included inside the value of 150000. This definitely alters the outputs received.

This is the fundamental reason by which is so important to deal with outliers carefully. From this, we can remake the treatment of the outliers to generate a new analysis and conclusions if required. For example, a good aproximation would be to remove all the rows that contain a value for the mileage of 150000, as we have already seen they alter the results. This could be done assigning a NaN value for all the 150000 values followed by a Dataframe.dropna() method to delete the impacted rows: 
`autos.dropna(subset=['odometer_km'])`.

Another steps to consider:

1. Data cleaning:
    - Identify categorical data that uses german words, translate them and map the values to their english counterparts.
    - Convert the dates to be uniform numeric data, so "2016-03-21" becomes the integer 20160321.
    - See if there are particular keywords in the name column that you can extract as new columns. For example, any particular model of a brand.

2. Data analysis:
    - Find the most common brand/model combinations.
    - Split the `odometer_km` into groups, and use aggregation to see if average prices follows any patterns based on the mileage.
    - How much cheaper are cars with damage than their non-damaged counterparts?